---
import { NavDrawer } from '@/components/NavDrawer';
---
<header class="flex items-center justify-between px-4 py-3 bg-secondary text-secondary-foreground h-16">
  <div class="flex items-center">
    <a href="/" class="flex items-center gap-2">
      <!-- <img src="https://cdn.drigonfusion.xyz/static/images/logo.png" alt="DrigonFusion Logo" class="h-10 w-10 rounded-full" /> -->
      <span class="text-xl font-bold">DrigonFusion</span>
    </a>
  </div>
  <div class="flex items-center gap-4">
    <NavDrawer client:only="react" />
  </div>
</header>