---
interface Props {
	title: string;
}

import SEO from '@/components/SEO.astro';
import Header from '@/components/header.astro';
import '@/styles/globals.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<!-- <script is:inline>
			(function() {
				const getThemePreference = () => {
					if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
						return localStorage.getItem('theme');
					}
					return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
				};
				const theme = getThemePreference();
				const isDark = theme === 'dark';
				document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
			})();
		</script> -->
		<SEO title={title} description=''/>
	</head>
	<body>
		<Header />
		<div class="min-h-screen">
			<slot />
		</div>
	</body>
</html>